body{
    background-color: rgb(34, 23, 59);
}

h1 {
    font-size: small;
    color: white;
    text-align: center;
    
}
h5 {
    font-size: x-large;
    background-color: rgb(115, 192, 137);
}
.card {
    background-color:rgb(214, 248, 193);
}
.btn {
    background-color: rgb(32, 32, 120);
}
h4 {
    color: rgb(175, 223, 201);
}
.nav-link{
    color: white;
}
#aboutus {
    color: white;
}
#map{
    
    
}
